<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Pay My Buddy</title>
</head>
<body>
    <header class="header" th:replace="~{fragments/header :: header}">
        Static header content
    </header>
    <br>
    <div class="container text-center" layout:fragment="content">
        Changing content
    </div>
    <br>
    <footer class="footer mt-auto py-3 bg-body-tertiary" th:align="center" th:replace="~{fragments/footer :: footer}">
        Static footer content &copy; 2023
    </footer>
    
</body>
</html>