<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}" >
<head>
    <link th:href="@{/css/transfer.css}" rel="stylesheet">
    <title>Transfer</title>
</head>

<div layout:fragment="content">
    
    <div class="modal fade" id="addConnectionModal" tabindex="-1" role="dialog" aria-labelledby="addConnectionLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addConnectionLabel">Add connection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="connectionEmail" class="visually-hidden">Connection email</label>
            <input type="text" class="form-control" id="connectionEmail" placeholder="friend@email.com">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-between">
        <h3 class="col-3 text-start">Send money</h3>
        <button type="button" class="btn btn-primary mb-3 col-2" onclick="onOpenConnectionForm()">Add connection</button>
    </div>

    <form th:action="@{/transfer}" th:method="post" th:object="${transaction}">
        <div style="height: 100px; background-color: #f2f2f2; align-items: center;" class="row justify-content-center">
        <div class="col-3">
            <label class="visually-hidden">Connection</label>
            <select class="form-select">
                <option selected>Select a connection</option>
                <option value="1">Hayley</option>
                <option value="2">Clara</option>
                <option value="3">Smith</option>
            </select>
        </div>
        <div class="col-2">
            <label for="amount" class="visually-hidden">Amount</label>
            <input type="number" style="text-align:right;" class="form-control" id="amount" value="0">
        </div>
        <div style="height: 38px;" class="col-1"> <!-- 38 px is the same height as the 2 other row elements -->
            <button type="submit" class="btn btn-success mb-3">Pay</button>
        </div>
        </div>
    </form>
    <br>
    <h3 class="text-start">My transactions</h3>
    <table class="table table-striped table-hover table-borderless custom-border">
        <thead class="table-success">
            <tr>
                <th class="col-4" scope="col">Connections</th>
                <th class="col-4" scope="col">Description</th>
                <th class="col-4" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hayley</td>
                <td>Restaurant bill share</td>
                <td>10€</td>
            </tr>
            <tr>
                <td>Clara</td>
                <td>Trip money</td>
                <td>25€</td>
            </tr>
            <tr>
                <td>Smith</td>
                <td>Movie ticket</td>
                <td>8€</td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>


    <!-- Modal -->
    <div class="modal fade" id="connectionFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New connection</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center" id="modalError">
                        Invalid email.
                    </div>
                    <form>
                        <div class="mb-3">
                            <input type="email" id="newFriend" placeholder="Enter email" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="onAddConnection()">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>

</html>
